.header {
    grid-area: header;
    background-color: #50CAFF;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.header_1 {
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}

.header_2 {
    display: flex;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    margin-right: 20px;
}

.header_3 {
    width: 18px;
    height: 18px;
    margin-right: 20px;
}