@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,700&display=swap');


.app-wrapper {
  font-family: 'Rubik';
  display: grid;
  grid-template-areas:
  'menu header header header'
  'menu main main main';
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 55px 10fr;
  height: 100vh;
}